@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina padding */
  font-family: 'Poppins', sans-serif; /* Cambiar a una fuente moderna */
  background-image: url('./img/desktop-wallpaper-empty-classroom-clipart-class-room.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* La imagen se queda fija mientras se desplaza el contenido */
}

/* Header */
header {
  background: #4caf50;
  color: white;
  padding: 1em 0;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para un efecto moderno */
}

Nav {
  background: #1f9c23;
  color: white;
  padding: 1em;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

Nav a {
  color: white;
  margin: 0 1em;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease; /* Transición para color de enlace */
}

Nav a:hover {
  color: #d0ffcc;
}

/* Sections */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 2em 1em;
  text-align: center;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); /* Sombra suave para secciones */
  border-radius: 10px; /* Bordes redondeados para un look moderno */
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero {
  background: #503358;
  color: white;
}

.about {
  background: #FF6794;
  color: white;
}

.topics {
  background: #68B9EE;
  color: white;
}

.contact {
  background: #FBB861;
  color: white;
}

h2, h3 {
  color: white;
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* Topics Section */
.topics h3 {
  margin-bottom: 1em;
  line-height: 1.6;
}

.topics ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.topics li {
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #ffffff33; /* Fondo semitransparente para efecto visual */
  border-radius: 8px;
  line-height: 1.6;
  transition: background-color 0.3s ease;
}

.topics li:hover {
  background-color: #ffffff66; /* Cambio de fondo al hacer hover */
}

/* Button Styling */
button {
  background: #4caf50;
  border: none;
  color: white;
  padding: 0.8em 1.5em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: #45a049;
  transform: scale(1.05); /* Efecto de agrandamiento suave al hacer hover */
}

button:focus {
  outline: none;
}

/* Footer Styling */
.contact p {
  margin-bottom: 1em;
  color: #333;
}