@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina padding */
  font-family: 'Poppins', sans-serif; /* Cambiar a una fuente moderna */
  background-image: url('./img/desktop-wallpaper-empty-classroom-clipart-class-room.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* La imagen se queda fija mientras se desplaza el contenido */
}

/* Header */
header {
  background: #683e74;
  color: white;
  padding: 1em 0;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para un efecto moderno */
}

Nav {
  background: #503358;
  color: white;
  padding: 1em;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

Nav a {
  color: white;
  margin: 0 1em;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease; /* Transición para color de enlace */
}

Nav a:hover {
  color: #d0ffcc;
}

/* Sections */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2em 1em;
  text-align: center;
  max-width: 1200px;
  margin: 1em auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); /* Sombra suave para secciones */
  border-radius: 10px; /* Bordes redondeados para un look moderno */
}
.centered-section {
  display: flex;
  flex-direction: column; /* Coloca el contenido en una columna */
  align-items: center;    /* Centra horizontalmente */
  text-align: center;     /* Centra el texto */
  margin: 0 auto;         /* Centra la sección en la página */
  padding: 20px;          /* Espacio alrededor de la sección */
}

.centered-section h2 {
  font-size: 2em;
  margin-bottom: 20px;    /* Espacio debajo del título */
}

.centered-section img {
  max-width: 100%;        /* Asegura que la imagen no exceda el ancho de la sección */
  height: auto;
  margin-bottom: 20px;    /* Espacio debajo de la imagen */
}

.centered-section p {
  font-size: 1em;
  line-height: 1.5;       /* Espacio entre líneas para mejorar la legibilidad */
}
.hero {
  background: #503358;
  color: white;
}

.about {
  background: #FF6794;
  color: white;
}

.topics {
  padding-top: 5vh;
  border: 100px;
  height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
  overflow: auto;
  background: #68B9EE;
  color: white;
}
  @media (min-width: 900px){
    .topics{
      overflow-x: hidden;
      width: 100%;
      margin-top: 10vh;
      height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
      overflow: auto;
      background: #68B9EE;
      color: white;
    }
  }

  .topic1 {
    margin-top: 200vh;
    height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
    overflow: auto;
    background: #68B9EE;
    color: white;
  }
    @media (max-width: 900px){
      
      .topic1{
        margin-top: 170px;
        height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
        overflow: auto;
        background: #68B9EE;
        color: white;
      }
    } @media (min-width: 900px){
      .topic1{
        margin-top: 70vh;
        height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
        overflow: auto;
        background: #68B9EE;
        color: white;
      }
    }


    .topic2 {
      margin-top: 200vh;
      height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
      overflow: auto;
      background: #68B9EE;
      color: white;
    }
      @media (max-width: 900px){
        .topic2{
          margin-top: 10px;
          height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
          overflow: auto;
          background: #68B9EE;
          color: white;
        }
      } @media (min-width: 900px){
        .topic2{
          margin-top: 700vh;
          height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
          overflow: auto;
          background: #68B9EE;
          color: white;
        }
      }


      .topic3 {
        margin-top: 200vh;
        height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
        overflow: auto;
        background: #68B9EE;
        color: white;
      }
        @media (max-width: 900px){
          .topic3{
            margin-top: 170px;
            height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
            overflow: auto;
            background: #68B9EE;
            color: white;
          }
        } @media (min-width: 900px){
          .topic3{
            margin-top: 70vh;
            height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
            overflow: auto;
            background: #68B9EE;
            color: white;
          }
        }


        .topic4 {
          margin-top: 200vh;
          height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
          overflow: auto;
          background: #68B9EE;
          color: white;
        }
          @media (max-width: 900px){
            .topic4{
              margin-top: 170px;
              height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
              overflow: auto;
              background: #68B9EE;
              color: white;
            }
          } @media (min-width: 900px){
            .topic4{
              margin-top: 70vh;
              height: 150vh; /* Para asegurar que el contenido no se desborde verticalmente */
              overflow: auto;
              background: #68B9EE;
              color: white;
            }
          }



.Qr {
  background: #FBB861;
  color: white;
}

h2, h3 {
  color: white;
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* Topics Section */
.topics h3 {
  margin-bottom: 1em;
  line-height: 1.6;
}

.topics ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  justify-content: space-evenly 
}

.topics li {
  font-size:20px;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #ffffff33; /* Fondo semitransparente para efecto visual */
  border-radius: 8px;
  line-height: 1.6;
  transition: background-color 0.3s ease;
}

.topics li:hover {
  background-color: #ffffff66; /* Cambio de fondo al hacer hover */
}

/* Button Styling */
button {
  background: #4caf50;
  border: none;
  color: white;
  padding: 0.8em 1.5em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: #45a049;
  transform: scale(1.05); /* Efecto de agrandamiento suave al hacer hover */
}

button:focus {
  outline: none;
}

/* Footer Styling */
.contact p {
  margin-bottom: 1em;
  color: #333;
}